vi fibonums.sh#To write a shell script
#Press "i" to enter input mode.
#!/bin/bash

if [$# -eq 1]
then
        Num=$1
else
        echo -n "Enter a Number:"
        read Num
fi

f2=1

echo "The result is : "

for (( i=0;i<=Num;i++ ))

do

        echo -n "$f1 "
        fn=$((f1+f2))
        f1=$f2
        f2=$fn
done
echo

#After that, press "Esc" to quit input mode, then press ":wq" to save and quit this script. 
chmod +x fibonums.sh
./fibonums.sh#To execute this script.
#Input a number and the result will be listed.
